@import "react-grid-layout/css/styles.css";

.muse-dashboard_dashboard {
  background-color: #f7f7f7;
}
.react-grid-item.react-grid-placeholder {
  background: #aaa; // @primary-color;
  opacity: 0.2;
}
